extends email-layout

block content
  h2 Reset password
  p  Please click the following button to reset your password. Please note this link is only valid for the next hour.
  +button(URL, 'Reset Password')
  p If you can't click the above button please visit #{URL}
  br
  p If you didn't request this email, please ignore it.
